DISCORD_TOKEN=your_discord_bot_token_here
OPENAI_API_KEY=your_openai_api_key_here

BOT_DEVELOPER=Airex
BOT_CREATED_ON=2026-03-03
BOT_VERSION=1.0.0
BOT_STATUS_CHANNEL_ID=0
BOT_OWNER_ID=0

VAL_API_KEY=
VAL_REGION=na
